<ng-container *ngIf="product">
  <div
    class="border border-grey w-80 h-80 sm:w-96 sm:h-96 flex justify-center items-center p-4 cursor-pointer"
    (click)="showImgPopup = true"
  >
    <img
      [src]="product.images![selectedImageIndex]"
      [alt]="product.name"
      class="object-cover"
    />
  </div>

  <div class="flex gap-1">
    <img
      *ngFor="let img of product.images; let i = index"
      [src]="img"
      [alt]="product.name"
      class="w-24 object-contain cursor-pointer"
      (click)="selectedImageIndex = i"
    />
  </div>
</ng-container>
<ecomerce-popup *ngIf="showImgPopup && product" (closePopup)="showImgPopup = false">
  <img
    [src]="product.images![selectedImageIndex]"
    [alt]="product.name"
    class="object-cover"
  />
</ecomerce-popup>
