<div class="w-full relative z-10 flex flex-col justify-between pl-11 pr-11">
  <div class="flex p-4 justify-between items-center gap-6 flex-col sm:flex-row">
    <div class="input">
      <input type="tex" class="bg-opacity-0 bg-white w-full max-w-[115px]" placeholder="Search"/>
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
    <div>
      <img src="assets/images/logo.png" alt="Logo" class="h-9" />
    </div>
    <div class="img-btn w-11 h-11 relative">
      <p class="absolute right-8 bg-red text-white rounded-full p-2 w-6 h-6 flex justify-center items-center text-xs">0</p>
      <fa-icon [icon]="cart" class="mt-1 "></fa-icon>
    </div>
  </div>
</div>

